# Virtual Environments
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Local Databases and MLflow tracking
mlflow.db
mlruns/

# Do not track the massive fake data file we just generated
data/traces.csv

# Do not track the AI weights (we will version these later)
models/